.form{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    background-color: white;
    padding: 10px;
    
}
body{
    background-color: rgb(239, 236, 242);
}
.btn{
    background-color:blueviolet;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: auto;
}
.input{
    height: 50px;
    width: 300px;
    border-radius: 10px;
    margin:5px auto 5px auto;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.check{
    display: inline-block;
    margin-left: 90px;
}
.box{
    height: 100px;
    width: 100px;
    border: black solid 1px;
    margin-right: 8px;
    display: inline-block;
    border-radius: 10px;
}

.main{
    height: 300px;
    width: 400px;
    margin: auto;
}
.window-size-tracker{
    background-color: orangered;
    width: 500px;
    height: 400px;
    border-radius: 20px;
    margin-top: 20px;
}
.window-size-btn{
    background-color: white;
    height: 50px;
    width: 300px;
    margin-top: 100px;
    margin-left: 100px;
    
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.win-size{
    width: 300px;
    margin: auto;

}